@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}
@keyframes animloader {
  0% {
    border-color: black rgb(254, 254, 254) rgba(255, 255, 255, 0) rgba(243, 243, 243, 0.952);
  }
  33% {
    border-color: black black rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.984);
  }
  66% {
    border-color: black black black rgba(255, 255, 255, 0.963);
  }
  100% {
    border-color: black black black black;
  }
} 

.prod{
  margin-left: 0;
}

.gradient-border{
  border-radius: 5rem;
 
}

.style-image{
  background-image: url("src/assets/woman-casual-white-sweater-sunglasses-red-wall.jpg");
  background-repeat: no-repeat, repeat;
  background-clip: content-box;
  background-size: cover;
  background-position: 1cqi;
  

  
}